################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bookstore/.vs/Bookstore
/Bookstore/Bookstore/bin/Debug/netcoreapp3.1
/Bookstore/Bookstore/obj

